html {
  background-image: url(images/new.gif);
  background-size: cover;
}

.PageText {
  font-family: 'Source Code Pro', monospace;
  color: #1ADAFB;
  text-shadow: 2px 2px 1px #040F45;
  font-size: 30pt;
  margin-left: 45px;
}

#calculator {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: ridge;
  border-radius: 20px;
  box-sizing: border-box;
  width: 250px;
  background-color: rgba(64, 82, 184, 0.8);
  box-shadow: 1.8px 2px 2px #040F45;
}

/*#1ADAFB; shadow color*/

button {
  margin: 5px;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}

.num, .ops, #equals {
  width: 40px;
  height: 25px;
  color: #fff;
  text-shadow: 1px 1px 1px #040F45;
}

#reset {
  height: 25px;
  width: 95px;
  margin-right: 117px;
  background-color: #BEEC5C;
  text-shadow: 1px 1px 1px #525354;
}

.ops {
  background-color: #1ADAFB;
}

.num, #equals {
  background-color: #845ED7;
}

.output {
  font-family: "Source Code Pro", monospace;
  color: white;
  font-size: 20px;
  padding-right: 2px;
  width: 201.5px;
  height: 40px;
  border-radius: 6px;
  border-style: ridge;
  background-color: rgba(131,94,215,0.7);
}

#output {
  height: 30px;
  width: 190px;
  position: absolute;
  margin: 10px;
}

.secret {
  background-color: rgba(31,69,154,0.8);
  font-family: "Source Code Pro", monospace;
  color: #1ADAFB;
  border-style: inset;
}
